Repository De30/grafana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/docs-squad, @grafana/plugins-platform-frontend, @grafana/plugins-platform-backend, @Eve832, @GrafanaWriter, @brendamuir, @chri2547, @grafana/backend-platform, @grafana/grafana-authnz-team, @grafana/observability-logs, @grafana/grafana-edge-squad, @grafana/grafana-release-eng, @grafana/aws-plugins, @grafana/cloud-provider-plugins, @grafana/observability-metrics, @grafana/observability-traces-and-profiling, @grafana/grafana-bi-squad, @grafana/hosted-grafana-team, @grafana/alerting-squad-backend, @grafana/alerting-squad-frontend, @grafana/user-essentials, @grafana/grafana-as-code, @grafana/observability-experience-squad, @grafana/frontend-ops, @joshhunt, @grafana/alerting-squad, @grafana/grafana-partnerships-team, @grafana/dashboards-squad

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Documentation
/docs/ @grafana/docs-squad
/contribute/ @grafana/docs-squad
/docs/sources/developers/plugins/ @grafana/docs-squad @grafana/plugins-platform-frontend @grafana/plugins-platform-backend
/docs/sources/developers/plugins/backend @grafana/docs-squad @grafana/plugins-platform-backend
# Set up, dashboards/visualization, best practices: Chris Moyer
# Alerting: Brenda Muir
/docs/sources/administration/ @Eve832 @GrafanaWriter
/docs/sources/alerting @brendamuir
/docs/sources/best-practices/ @chri2547
/docs/sources/dashboards/ @chri2547
/docs/sources/datasources/ @Eve832 @GrafanaWriter
/docs/sources/enterprise/ @Eve832 @GrafanaWriter
/docs/sources/explore/ @Eve832 @GrafanaWriter
/docs/sources/getting-started/ @chri2547
/docs/sources/old-alerting @brendamuir
/docs/sources/panels/ @chri2547
/docs/sources/release-notes/ @Eve832 @GrafanaWriter
/docs/sources/setup-grafana/ @chri2547
/docs/sources/visualization/ @chri2547
/docs/sources/whatsnew/ @Eve832 @GrafanaWriter

# Backend code
*.go @grafana/backend-platform
go.mod @grafana/backend-platform
go.sum @grafana/backend-platform
/.bingo @grafana/backend-platform

# Backend code, developers environment
/devenv/docker/blocks/auth @grafana/grafana-authnz-team

# Logs code, developers environment
/devenv/docker/blocks/loki* @grafana/observability-logs
/devenv/docker/blocks/elastic* @grafana/observability-logs

# Performance tests
/devenv/docker/loadtests-ts @grafana/grafana-edge-squad

# Continuous Integration
.drone.yml @grafana/grafana-release-eng
.drone.star @grafana/grafana-release-eng
/scripts/drone/ @grafana/grafana-release-eng
/pkg/build/ @grafana/grafana-release-eng

# Cloud Datasources backend code
/pkg/tsdb/cloudwatch @grafana/aws-plugins
/pkg/tsdb/azuremonitor @grafana/cloud-provider-plugins
/pkg/tsdb/cloudmonitoring @grafana/cloud-provider-plugins

# Observability backend code
/pkg/tsdb/prometheus @grafana/observability-metrics
/pkg/tsdb/influxdb @grafana/observability-metrics
/pkg/tsdb/elasticsearch @grafana/observability-logs
/pkg/tsdb/graphite @grafana/observability-metrics
/pkg/tsdb/jaeger @grafana/observability-traces-and-profiling
/pkg/tsdb/loki @grafana/observability-logs
/pkg/tsdb/zipkin @grafana/observability-traces-and-profiling
/pkg/tsdb/tempo @grafana/observability-traces-and-profiling

# BI backend code
/pkg/tsdb/mysql @grafana/grafana-bi-squad
/pkg/tsdb/postgres @grafana/grafana-bi-squad
/pkg/tsdb/mssql @grafana/grafana-bi-squad

# Database migrations
/pkg/services/sqlstore/migrations @grafana/backend-platform @grafana/hosted-grafana-team
*_mig.go @grafana/backend-platform @grafana/hosted-grafana-team

# Grafana edge
/pkg/services/live/ @grafana/grafana-edge-squad
/pkg/services/searchV2/ @grafana/grafana-edge-squad
/pkg/services/store/ @grafana/grafana-edge-squad
/pkg/services/querylibrary/ @grafana/grafana-edge-squad
/pkg/services/export/ @grafana/grafana-edge-squad
/pkg/infra/filestore/ @grafana/grafana-edge-squad
/pkg/tsdb/testdatasource/sims/ @grafana/grafana-edge-squad

# Alerting
/pkg/services/ngalert @grafana/alerting-squad-backend
/pkg/services/sqlstore/migrations/ualert @grafana/alerting-squad-backend
/pkg/services/alerting @grafana/alerting-squad-backend
/pkg/tests/api/alerting @grafana/alerting-squad-backend
/public/app/features/alerting @grafana/alerting-squad-frontend

# Library Services
/pkg/services/libraryelements @grafana/user-essentials
/pkg/services/librarypanels @grafana/user-essentials

# Plugins
/pkg/api/pluginproxy @grafana/plugins-platform-backend
/pkg/plugins @grafana/plugins-platform-backend
/pkg/services/datasourceproxy @grafana/plugins-platform-backend
/pkg/services/datasources @grafana/plugins-platform-backend
/pkg/plugins/pfs @grafana/plugins-platform-backend @grafana/grafana-as-code

# Dashboard previews / crawler (behind feature flag)
/pkg/services/thumbs @grafana/grafana-edge-squad

# Backend code docs
/contribute/style-guides/backend.md @grafana/backend-platform
/contribute/architecture/backend @grafana/backend-platform
/contribute/engineering/backend @grafana/backend-platform

/crowdin.yml @grafana/user-essentials
/public/locales @grafana/user-essentials
/public/app/core/internationalization @grafana/user-essentials
/e2e @grafana/user-essentials
/e2e/cloud-plugins-suite @grafana/cloud-provider-plugins
/packages @grafana/user-essentials @grafana/plugins-platform-frontend @grafana/grafana-bi-squad
/packages/grafana-e2e-selectors @grafana/user-essentials
/packages/grafana-e2e @grafana/user-essentials
/packages/grafana-toolkit @grafana/plugins-platform-frontend
/packages/grafana-ui/.storybook @grafana/plugins-platform-frontend
/packages/grafana-ui/src/components/DateTimePickers @grafana/user-essentials
/packages/grafana-ui/src/components/GraphNG @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/Logs @grafana/observability-logs
/packages/grafana-ui/src/components/Table @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/TimeSeries @grafana/grafana-bi-squad
/packages/grafana-ui/src/components/uPlot @grafana/grafana-bi-squad
/packages/grafana-ui/src/utils/storybook @grafana/plugins-platform-frontend
/packages/jaeger-ui-components/ @grafana/observability-traces-and-profiling
/plugins-bundled @grafana/plugins-platform-frontend
# public folder
/public/app/core/components/TimePicker @grafana/grafana-bi-squad
/public/app/core/components/Layers @grafana/grafana-edge-squad
/public/app/features/canvas/ @grafana/grafana-edge-squad
/public/app/features/comments/ @grafana/grafana-edge-squad
/public/app/features/dimensions/ @grafana/grafana-edge-squad
/public/app/features/geo/ @grafana/grafana-edge-squad
/public/app/features/storage/ @grafana/grafana-edge-squad
/public/app/features/live/ @grafana/grafana-edge-squad
/public/app/features/explore/ @grafana/observability-experience-squad
/public/app/features/plugins @grafana/plugins-platform-frontend
/public/app/features/transformers/spatial @grafana/grafana-edge-squad
/public/app/plugins/panel/alertlist @grafana/alerting-squad-frontend
/public/app/plugins/panel/barchart @grafana/grafana-bi-squad
/public/app/plugins/panel/heatmap @grafana/grafana-bi-squad
/public/app/plugins/panel/histogram @grafana/grafana-bi-squad
/public/app/plugins/panel/logs @grafana/observability-logs
/public/app/plugins/panel/nodeGraph @grafana/observability-traces-and-profiling
/public/app/plugins/panel/traces @grafana/observability-traces-and-profiling
/public/app/plugins/panel/piechart @grafana/grafana-bi-squad
/public/app/plugins/panel/state-timeline @grafana/grafana-bi-squad
/public/app/plugins/panel/status-history @grafana/grafana-bi-squad
/public/app/plugins/panel/table @grafana/grafana-bi-squad
/public/app/plugins/panel/timeseries @grafana/grafana-bi-squad
/public/app/plugins/panel/geomap @grafana/grafana-edge-squad
/public/app/plugins/panel/canvas @grafana/grafana-edge-squad
/public/app/plugins/panel/candlestick @grafana/grafana-edge-squad
/public/app/plugins/panel/icon @grafana/grafana-edge-squad
/scripts/build/release-packages.sh @grafana/plugins-platform-frontend
/scripts/circle-release-next-packages.sh @grafana/plugins-platform-frontend
/scripts/ci-frontend-metrics.sh @grafana/user-essentials @grafana/plugins-platform-frontend @grafana/grafana-bi-squad
/scripts/grunt @grafana/frontend-ops
/scripts/webpack @grafana/frontend-ops
/scripts/generate-a11y-report.sh @grafana/user-essentials
package.json @grafana/frontend-ops
tsconfig.json @grafana/frontend-ops
lerna.json @grafana/frontend-ops
.babelrc @grafana/frontend-ops
.prettierrc.js @grafana/frontend-ops
.eslintrc @grafana/frontend-ops
.pa11yci.conf.js @grafana/user-essentials
.pa11yci-pr.conf.js @grafana/user-essentials
.betterer.results @joshhunt

# @grafana/ui component documentation
*.mdx @grafana/plugins-platform-frontend

# Core datasources
/public/app/plugins/datasource/cloudwatch @grafana/aws-plugins
/public/app/plugins/datasource/elasticsearch @grafana/observability-logs
/public/app/plugins/datasource/grafana-azure-monitor-datasource @grafana/cloud-provider-plugins
/public/app/plugins/datasource/graphite @grafana/observability-metrics
/public/app/plugins/datasource/influxdb @grafana/observability-metrics
/public/app/plugins/datasource/jaeger @grafana/observability-traces-and-profiling
/public/app/plugins/datasource/loki @grafana/observability-logs
/public/app/plugins/datasource/mssql @grafana/grafana-bi-squad
/public/app/plugins/datasource/mysql @grafana/grafana-bi-squad
/public/app/plugins/datasource/opentsdb @grafana/backend-platform
/public/app/plugins/datasource/postgres @grafana/grafana-bi-squad
/public/app/plugins/datasource/prometheus @grafana/observability-metrics
/public/app/plugins/datasource/cloud-monitoring @grafana/cloud-provider-plugins
/public/app/plugins/datasource/zipkin @grafana/observability-traces-and-profiling
/public/app/plugins/datasource/tempo @grafana/observability-traces-and-profiling
/public/app/plugins/datasource/alertmanager @grafana/alerting-squad

# Cloud middleware
/grafana-mixin/ @grafana/hosted-grafana-team

# Grafana authentication and authorization
/pkg/services/accesscontrol @grafana/grafana-authnz-team
/pkg/services/auth @grafana/grafana-authnz-team
/pkg/services/dashboards/accesscontrol.go @grafana/grafana-authnz-team
/pkg/services/datasources/permissions @grafana/grafana-authnz-team
/pkg/services/datasources/permissions/accesscontrol.go @grafana/grafana-authnz-team
/pkg/services/guardian @grafana/grafana-authnz-team
/pkg/services/ldap @grafana/grafana-authnz-team
/pkg/services/login @grafana/grafana-authnz-team
/pkg/services/multildap @grafana/grafana-authnz-team
/pkg/services/oauthtoken @grafana/grafana-authnz-team
/pkg/services/teamguardian @grafana/grafana-authnz-team
/pkg/services/serviceaccounts @grafana/grafana-authnz-team

# Grafana Partnerships Team
/pkg/infra/httpclient/httpclientprovider/sigv4_middleware.go @grafana/grafana-partnerships-team

# Kind system and code generation
embed.go @grafana/grafana-as-code
/kinds/ @grafana/grafana-as-code
/pkg/codegen @grafana/grafana-as-code
/pkg/kindsys @grafana/grafana-as-code
/pkg/kinds/*/*_gen.go @grafana/grafana-as-code
/pkg/registry/corekind @grafana/grafana-as-code
/public/app/plugins/*gen.go @grafana/grafana-as-code

# Specific core kinds
/kinds/raw/ @grafana/grafana-edge-squad
/kinds/structured/dashboard @grafana/dashboards-squad

initial implementation for quick add
  public/app/core/components/AppChrome/NavToolbarSeparator.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.test.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
  public/app/core/components/AppChrome/TopSearchBar.tsx
Owners: none

fs options
  pkg/services/export/object_store.go
  pkg/services/sqlstore/migrations/object_store_mig.go
  pkg/services/store/object/object.pb.go
  pkg/services/store/object/object.proto
  pkg/services/store/object/sqlstash/sql_storage_server.go
  pkg/services/store/object/sync/fs.go
  pkg/services/store/object/sync/fs2.go
  pkg/services/store/object/sync/fs_test.go
  pkg/services/store/object/sync/mapper.go
  pkg/services/store/object/sync/mapper_test.go
  pkg/services/store/object/sync/models.go
Owners: @grafana/grafana-edge-squad, @grafana/backend-platform, @grafana/hosted-grafana-team

add new isCreateAction prop on NavModel
  packages/grafana-data/src/types/navModel.ts
  pkg/plugins/models.go
  pkg/services/navtree/models.go
  pkg/services/navtree/navtreeimpl/applinks.go
  pkg/services/navtree/navtreeimpl/navtree.go
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.test.tsx
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
  public/app/core/components/AppChrome/QuickAdd/utils.ts
  public/app/core/components/AppChrome/TopSearchBar.tsx
  public/app/core/components/MegaMenu/NavBarMenuItemWrapper.tsx
Owners: @grafana/user-essentials, @grafana/plugins-platform-frontend, @grafana/grafana-bi-squad, @grafana/plugins-platform-backend, @grafana/backend-platform

adjust separator margin
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
Owners: none

use .tz.setDefault when setting timezone
  packages/grafana-data/src/datetime/timezones.ts
  public/app/app.ts
  public/app/features/profile/state/reducers.ts
Owners: @grafana/user-essentials, @grafana/plugins-platform-frontend, @grafana/grafana-bi-squad

update plugin docs
  docs/sources/developers/plugins/metadata.md
  docs/sources/developers/plugins/plugin.schema.json
Owners: @grafana/docs-squad, @grafana/plugins-platform-frontend, @grafana/plugins-platform-backend

switch to primary button
  public/app/core/components/AppChrome/QuickAdd/QuickAdd.tsx
Owners: none

No format registry
  .betterer.results
  public/app/features/scenes/variables/interpolation/ScopedVarsVariable.ts
  public/app/features/scenes/variables/interpolation/formatRegistry.ts
  public/app/features/scenes/variables/interpolation/sceneInterpolator.ts
  public/app/features/scenes/variables/types.ts
  public/app/features/templating/LegacyVariableWrapper.ts
  public/app/features/templating/formatRegistry.test.ts
  public/app/features/templating/formatRegistry.ts
  public/app/features/templating/template_srv.test.ts
  public/app/features/templating/template_srv.ts
Owners: @joshhunt
